<div class="cart-sec">
    <a id="btnSearch" class="lock" href="@Url.Action("DangKy","Home")"><img href="#" src="~/Assets/Client/images/search.png" alt="" />Search</a>
    <a href="@Url.Action("XemGioHang","Cart")"><img href="@Url.Action("XemGioHang","Cart")" src="~/Assets/Client/images/cart.png" alt=""/>@ViewBag.TongTien VNĐ(<span> @ViewBag.TongSoLuong</span> sp)</a>
</div>
